---

---

<section
    class="px-6 md:px-40 py-24 md:py-32 flex flex-col md:flex-row relative items-center"
>
    <img
        src="/images/mobile/image-interactive.jpg"
        alt="Interactive VR"
        class="md:hidden mb-12 sm:mb-16 w-full"
    />
    <img
        src="/images/desktop/image-interactive.jpg"
        alt="Interactive VR"
        class="hidden md:block md:w-[65%]"
    />

    <div
        class="bg-primary-white pt-12 text-center md:text-left md:absolute md:bottom-24 md:right-40 md:w-[50%] md:pt-24 md:pl-24"
    >
        <h2
            class="text-3xl md:text-5xl font-josefin uppercase mb-6 text-primary-black leading-none"
        >
            The leader in<br class="hidden md:block" /> interactive VR
        </h2>
        <p
            class="text-neutral-dark-gray font-alata leading-relaxed text-[15px]"
        >
            Founded in 2011, Loopstudios has been producing world-class virtual
            reality projects for some of the best companies around the globe.
            Our award-winning creations have transformed businesses through
            digital experiences that bind to their brand.
        </p>
    </div>
</section>
